.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: justify;
  width: 350px;
  border-radius: 8px;
  box-shadow: rgba(224, 224, 255, 0.2) 0px 7px 29px 0px;
  padding: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: rgb(23, 9, 46);
}

.description {
  margin: 8px;
}
